[submodule ".janus/vim-bundler"]
	path = .janus/vim-bundler
	url = git@github.com:tpope/vim-bundler.git
[submodule ".janus/vim-rails"]
	path = .janus/vim-rails
	url = git@github.com:tpope/vim-rails.git
[submodule ".janus/vim-rvm"]
	path = .janus/vim-rvm
	url = git@github.com:tpope/vim-rvm.git
[submodule ".nvm"]
	path = .nvm
	url = git@github.com:creationix/nvm.git
[submodule ".fonts"]
	path = .fonts
	url = git@github.com:Lokaltog/powerline-fonts.git
[submodule ".janus/vim-powerline"]
	path = .janus/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
